<div class="main">
    <div class="second_div">
        <h3>
            Proyecto final del curso de Angular de la Univerdidad Creativa de Costa Rica
        </h3>
    </div>
    <div class="info">
        <div>
            <p>El proyecto consiste en crear un SPA con el framework de Angular en el que se utilice los bindings,
                routing links, interpolacion, con menus de navegacion y que utilice los servicios de un API, en este
                caso los de la pagina de APIs Ghipy!
            </p>
        </div>
        <div>
            <img src="https://desarrolloweb.com/storage/manual_images/Ob3Wz6y0TnJCyccfIdXn1sdD7HWevyrbSyIxICHP.jpeg" alt="">
        </div>
    </div>
    <div class="second_info">
        <img class="img_info" src="/assets/1.png" alt="">
        <p>
            La conexion entre Angular y un API se da por medio de un request al URL que se hace en el service de TypeScript.
        </p>
        
    </div>
    <div class="info">
        <div>
            <p>Y como resultado se obtniene una conexion entre el servidor de Giphy que muestra los resultados en tiempo real por medio del servicio en la pagina creada.
            </p>
        </div>
        <div>
            <img class="img_info" src="assets/2.png" alt="">
        </div>
    </div>
</div>